SECRET_KEY=
DEBUG=False

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=5432

FRONTEND_URL=
WEBSITE_URL=

GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=

OPENAI_API_KEY=

REDIS_HOST=
REDIS_PORT=6379

CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=