Auto/
Text/

virtual_environment/

Adobe_After_Effects/
Adobe_Audition/
Adobe_Illustrator/
Adobe_Photoshop/
Adobe_Premiere_Pro/
Adobe_Xd/
Build/
Data_Json/
Design/
env/
Output/
project_docs/
Script/
Automation/
Build/
Build/

# إعدادات البيئة
.env
*.env
.env.local
.env.production
